// Specific CSS for your home-page


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: $secondary-color;
  color: $secondary-background
}

/* Control the right side */
.right {
  right: 0;
  background-color: $primary-color;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.button1{
  background-color: $secondary-background;
  color: $secondary-color;
  border: 1px solid $secondary-background;
  border-radius: 10px;
  padding: 3px 7px 4px 7px;
  text-decoration: none !important;
}

.button1:hover {
 background-color: $primary-color;
 color: $secondary-color;
 border: 1px solid $primary-color;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 400px;
}

// .slogan{
//   font-family: $font;
//   color: $secondary-color
// }

// .logo{

// }

// .div {
//   width: 100%;
//   height: 100%;
// }



// .container{
//   display: flex;
//   justify-content: space-evenly;
//   background-color: $secondary-background;

//   // align-items: center;
// }

// html, body {
//   height: 100%;
//   margin: 0;
// }

// Styles for the homepage container
// .homepage {
// }

  // Additional styling for a specific div within the homepage


// // Styles for the label
// .label {
//   width: 882px;
//   height: 56px;
//   margin-bottom: 10px;

//   // Styles for a title within the label

// }

// Styles for class cards within the homepage


// Styles for individual class cards


// Styles for the card grid


// Styles for the div within class cards
// .class-card .div {
//   height: 63px;
//   top: 148px;
//   border-radius: 0px 0px 20px 20px;
//   border: 1px solid;
//   border-color: #000000;
//   box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
//   position: absolute;
//   width: 219px;
//   left: 0;
//   background-color: #d9d9d9;
// }

// Styles for the icon profile circled within class cards
// .class-card .icon-profile-circled {
//   position: absolute;
//   width: 33px;
//   height: 33px;
//   top: 165px;
//   left: 167px;

// }
