<h2>My bookings</h2>
<div class="card-grid">
      <% @bookings.each do |booking| %>
      <div class="card">
          <%= link_to lesson_path(booking.lesson), class:"text-decoration-none card-class" do %>
          <%= cl_image_tag booking.lesson.photo.key %>

              <div class="card-class-infos">
                <h3><%= booking.lesson.name %></h3>
              </div>
          <% end %>
          <div class="d-flex justify-content-center align-items-center my-bookings-trash-icon">
            <%= link_to booking_path(booking),  data: {turbo_method: "delete", turbo_confirm: "Are you sure?"} do%>
              <i class="fa-regular fa-trash-can btn-icon mx-2"></i>
            <% end %>
          </div>
      </div>
      <% end %>
  </div>
