<!DOCTYPE html>
  <html>
    <head>
    <style>
    @keyframes blink{
      0% {opacity: 1;}
      50% {opacity: 0.4;}
      100% {opacity: 1;}
    }

    .button1{
      animation: blink 2.5s infinite;
    }

    </style>

    </head>
      <body>
      <div class="split left">
        <div class="centered">
          <h1>Ignite Your Brilliance, With Creative Learning</h1>
          <% if user_signed_in? %>
            <%= link_to "Start Your Journey", lessons_path, class:"button1" %>
          <% else %>
            <%= link_to "Start Your Journey", new_user_session_path, class:"button1" %>
          <% end %>

        </div>

      </div>

      <div class="split right">
        <div class="centered">
         <div class="logo">
            <%= image_tag "StayClassy.png", alt: "StayClassy Logo", width: 200 %></div>
          </div>
        </div>
      </div>


      </body>

  </html>


  <%# <div class="container">
         <div class="slogan">
            <h1>Ignite Your Brilliance, With Creative Learning</h1>
         </div>
         <div class="logo">
