.button {
  border-radius: 20px;
  width: 134px;
  height: 41px;
  flex-shrink: 0;
  background: #041C32;
  color: #CBCACA;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
  text-align: center;
}
