// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "card";

body {
  background-color: #e6e9f8;
  font-family: $font;
  color: $primary-color;
}
// #e1e7fd
