// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  max-width: 100%;
  // position: relative;
  // width: 1512px;
  height: 203px;
  background-color: #041c32;
}

.navbar .logo {
  // position: absolute;
  width: 197px;
  height: 135px;
  top: 34px;
  left: 72px;
  object-fit: cover;
}

.navbar .search {
  // position: absolute;
  width: 56px;
  height: 56px;
  top: 62px;
  left: 1220px;
  margin-left: 300px;
}

.navbar .nav_icon {
  padding: 10px 0 0 0;
  // position: absolute;
  width: 56px;
  height: 56px;
  top: 59px;
  left: 1310px;
}

.nav-item {
color: #F6F0F0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  width: fit-content;
}
.navbar-collapse ul {
  width: fit-content;
}

.my-nav-bar {
  float: right;
}


.navbar-btn {
//   background-color: #e6e9f8;
//   border: none;
  color: #e5f0f9 !important;
//   padding: 10px 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 10px auto;
//   transition-duration: 0.4s;
//   cursor: pointer;
}

.navbar-btn:hover {
  background-color: #c2b6e2;
  color: black;
}

#avatarDropdown {
  margin: 4px 10px auto;
}

.logo {
  margin: 4px 10px auto
}
